.header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;

    a {
        text-decoration: none;
        color: #4d4d4d;
        font-weight: 600;
        padding: 5px 20px;
    }

    a:hover {
        color: #161616;
        text-decoration: underline;
    }

    .myLink {
        font-weight: bold;
        text-decoration: none;
        color: red;
    }
}

.siteLogo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

