.hostNav {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
        color: #161616;
        text-decoration: none;
    }

    .myLink {
        font-weight: bold;
        text-decoration: underline;
    }
}